<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mail</title>
    <link rel="stylesheet" href="./Style/layout.css">
  </head>

  <body>
    <div id="app">
      <!-- <input id="append" type="button" value="Add 3 messages"> -->
      <!-- <input id="prompt-not" type="button" value="Prompt Alert"> -->
      <div class="table">
        <div class="row">
          <label class="label-1">1.-</label>
          <label class="label-2">Message</label>
        </div>
      </div>
    </div>
    <div class="notification-alert notification-alert-appear">
      You got a new message! <input id="close-notif-btn" type="button" value="x">
    </div>
  </body>
</html>
